.site-footer {
    background-color: #6e0000;
    padding: 45px 0 20px;

    font-size: 15px;
    line-height: 24px;
    color: white;
    font-family: gilroy-bold;
}


.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
    padding-left: 10px;

}


.footer-links {
    padding-left: 10px;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: white;
}


.footer-links a:hover {
    color: white;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.walrus-leeuwarden {
    text-align: left;

    padding-left: 25px;
    padding-right: 25px;
}

.walrus-sneek {
    text-align: left;
    padding-left: 25px;
    margin-left: 40%;
    margin-top: -225px;
}

.foto-footer {
    margin-left: 70%;
    margin-top: -200px;
    border-radius: 10%;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

.copyright-text {
    text-align: center;
}